{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codePinion ::- {{request.user.username}} Premium</title>

    <!--Font is poppins-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--The ajax link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--The css file-->
    <link rel="stylesheet" href="{% static '/Css/prem.css' %}">


    <!--Bootstrap css link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>



</head>
<body>

    <!--paypal script-->
    <script src="https://www.paypal.com/sdk/js?client-id=ARXlOTyaFC_Hl93U4PpIISMe4vQbZdWOIs0zZVHnsDlvFkvWUtjmNMVte2a0dMoPygasWEb2m12jKt0P&currency=USD"></script>

    <!--Toast not Pdf-->
    <!--The toast section failure-->
    <!-- <div class="toast-container position-fixed bottom-0 end-0 p-3">

        <div id="notPDfToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="d-flex">
    
              <div class="toast-body" id="payFailed" >
    
                
    
              </div>
    
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    
            </div>
    
        </div> 

    </div> -->

    <!--Toast is Pdf-->
    <!--The toast section success-->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">

        <div id="isPDfToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="d-flex">
    
              <div class="toast-body" id="paySuccess" >
    
                
    
              </div>
    
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    
            </div>
    
        </div> 

    </div>


    <div class="body_pay">


        <!--Will contain paypal place -->
        <div class="prem_place">

            <!--Codepinion log-->

            <div class="log">

                <a class="log_img" href="{% url 'profile' %}">

                    <img src="{% static '\Images\Icon\csIcon.jpg' %}" alt="logo">

                </a>

            </div>

            <!--Pat for premium-->

            <div class="user">

                <!--User profile icture-->
                <div class="user_img">

                    <img src="{{request.user.profile.profile_url}}" alt="">

                </div>

            </div>


            <!--The payment choice-->
            <div class="choice">

                <!--The heading-->
                <div class="chHead">

                    <span>Premium Packages</span>

                </div>

                <!--The actial choices-->
                <div class="ch1">

                    <!--The check-->
                    <div class="chCheck" id="month_check" >

                        <svg  id="month_svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"/></svg>

                    </div>

                    <!--The description-->
                    <div class="chDesx">

                        <span>$13.00 Period of 1 Month</span>

                    </div>

                    <!-- <input type="checkbox" id="month_input" > -->

                </div>

                <div class="ch1">

                    <!--The check-->
                    <div class="chCheck" id="year_check" >

                        <svg id="year_svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"/></svg>

                    </div>

                    <!--The description-->
                    <div class="chDesx">

                        <span>$112.00 Period of 1 Year</span>

                    </div>

                    <!-- <input type="checkbox" id="year_input" > -->

                </div>

            </div>

            <!--The paypal div-->
            <div id="paypal-button-container"></div>

            <!--the paypall script-->

            <script>

                //Now we disable the 
                $('#month_svg').hide();
                $('#year_svg').hide();

                //The amoubts
                let final_amount = 0;
                let final_amount_id = '';

                let month_amount = '{{month}}';
                let year_amount = '{{year}}';

                let month_id = '{{mnth_id}}';
                let year_id = '{{yr_id}}';


                //Select the checks to be clicked
                let month_check = document.getElementById('month_check');
                let year_check = document.getElementById('year_check');

                let yr_status = false;
                let mth_status = false;

                //Now we add event listiners

                month_check.addEventListener('click', ()=> {

                    if(mth_status == false){

                       if(yr_status == true){

                            $('#year_svg').hide(200);
    
                            yr_status = false;
    
                            final_amount = 0;

                            final_amount_id = '';

                            $('#year_check').css("border", "2px solid #292929");
                            $('#year_svg').css("fill", "#292929");
    
                        }

                        $('#month_svg').show(200);

                        mth_status = true;

                        final_amount = month_amount;

                        final_amount_id = month_id;
                        
                        console.log(final_amount);

                        console.log(final_amount_id);

                        $('#month_check').css("border", "2px solid #333682");
                        $('#month_svg').css("fill", "#333682");

                    }

                    else if(mth_status == true){

                        $('#month_svg').hide(200);

                        mth_status = false;

                        final_amount = 0;

                        final_amount_id = '';

                        console.log(final_amount);

                        console.log(final_amount_id);

                        $('#month_check').css("border", "2px solid #292929");
                        $('#month_svg').css("fill", "#292929");

                    }

                });

                ///The year

                year_check.addEventListener('click', ()=> {

                    if(yr_status == false){

                        //Incase month is checked uncheck it
                        if(mth_status == true){

                            $('#month_svg').hide(200);

                            mth_status = false;

                            final_amount = 0;

                            final_amount_id = '';

                            $('#month_check').css("border", "2px solid #292929");
                            $('#month_svg').css("fill", "#292929");

                        }

                        $('#year_svg').show(200);

                        yr_status = true;

                        final_amount = year_amount;

                        final_amount_id = year_id;

                        console.log(final_amount);

                        console.log(final_amount_id);

                        $('#year_check').css("border", "2px solid #333682");
                        $('#year_svg').css("fill", "#333682");

                    }

                    else if(yr_status == true){

                        $('#year_svg').hide(200);

                        yr_status = false;

                        final_amount = 0;

                        year_id = '';

                        console.log(final_amount);

                        console.log(final_amount_id);

                        $('#year_check').css("border", "2px solid #292929");
                        $('#year_svg').css("fill", "#292929");

                    }

                });


                //A fuction we call afteter the transaction is complete

                //The csrf token
                function getCookie(name) {
                    let cookieValue = null;
                
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                
                                break;
                            }
                        }
                    }
                
                    return cookieValue;
                }

                //The csrf token
                const csrftoken = getCookie('csrftoken');


                function completePrem(){

                    var url = "{% url 'update_prem' %}"

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-type':'application/json',
                            'X-CSRFToken':csrftoken
                        },
                        body:JSON.stringify({
                            'amount':final_amount,
                            'amount_id':final_amount_id
                        })
                    })

                }


                //The paypal event
                paypal.Buttons({

                    style: {
                        color: 'blue',
                        shape: 'pill',
                        label: 'pay',
                    },

                    
                    // Sets up the transaction when a payment button is clicked
                    createOrder: (data, actions) => {
                        return actions.order.create({
                        purchase_units: [{
                            amount: {
                            value: final_amount // Can also reference a variable or function
                            }
                        }]
                        });
                    },
                    // Finalize the transaction after payer approval
                    onApprove: (data, actions) => {
                        return actions.order.capture().then(function(orderData) {
                        // Successful capture! For dev/demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        const transaction = orderData.purchase_units[0].payments.captures[0];
                        //alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                        //The fuction
                        completePrem()

                        //Now show toast

                        let paySuccess = document.getElementById('paySuccess');

                        paySuccess.innerHTML = "Payment for ID: " + transaction.id + " completed successfully";

                        const isPDfToast = document.getElementById('isPDfToast');
                        
                        const toast = new bootstrap.Toast(isPDfToast);

                        toast.show();

                        //Redirect back to whwre the user was
                        setTimeout(function(){

                            window.history.back();
                            
                        },1000);


                        // When ready to go live, remove the alert and show a success message within this page. For example:
                        // const element = document.getElementById('paypal-button-container');
                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                        });
                    }
                }).render('#paypal-button-container');
              </script>

        </div>

    </div>

    <!--Boostrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    
</body>
</html>