*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*

body {
    background-color: #c9cbff;
}

/* Navigation styling */

.navigation {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    position: fixed;
    z-index: 10;
}

.navig {
    width: 98%;
    height: 170px;
    background-color:white ;
    border-radius: 100px;
    border: 2px solid #333682;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s ease-in-out;
}

.upNav {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* The icon Section */


.icon {
    width: 270px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
}

.icon img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.icon h2 {
    color: #333682;
    font-size: 30px;
    font-weight: 800;
}


/* The little navigation */

.littleNav {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}

.inSpace {
    margin: 10px;
}

.user,.logout {
    width: 50px;
    height: 50px;
    background-color: #c9cbff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}


.user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.bell svg,.user svg,.logout svg {
    width: 30px;
    height: 30px;
    fill: #292929;
    transition: 0.2s ease-in-out;
}

.logout:hover {
    transform: scale(1.2);
}


.logout:hover svg {
    fill: #D93636;
}


.bell {
    width: 50px;
    height: 50px;
    background-color: #c9cbff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bellNo {
    min-width: 20px;
    width: max-content;
    height: 20px;
    background-color: #333682;
    border-radius: 5px;
    font-size: 11px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -5px;
}

.bellNo span{
    padding: 5px;
}


/* The middle navigation */

.midNav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* The lower anvigation */

.lowerNav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The drop down button */

.dropMenu {
    width: 80px;
    height: 45px;
    background-color: #c9cbff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.dropMenu svg {
    width: 35px;
    height: 35px;
    fill: #292929;
    transition: 0.5s ease-in-out;
}


/* The navigation */

.newQuiz,.ansQuiz,.unanswQuiz,.findQuiz,.askQuiz,.myQuiz,.myAnswers,.messages,.handShake {
    width: 70px;
    height: 70px;
    background-color: #c9cbff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newQuiz svg,.ansQuiz svg,.unanswQuiz svg,.findQuiz svg,.askQuiz svg,.myQuiz svg,.myAnswers svg,.messages svg,.handShake svg {
    transform: scale(1.4);
    fill: #292929;
}


/* To notify number of items */

.newQuiz,.handShake,.messages {
    position: relative;
}

.meNot {
    min-width: 20px;
    width: max-content;
    height: 20px;
    background-color: #333682;
    border-radius: 5px;
    font-size: 11px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -5px;
}

.meNot span {
    padding: 5px;
}


/* Authentification part */

.auth {
    width: 100vw;
    height: 100vh;
    background-color: rgba(201,203,255, 0.8);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The big inner div */
.authSeparate {
    width: 90vw;
    height: 90vh;
    display: flex;
    border-radius: 20px;
    background-color: white;
}

/* The login items details */

.contLogItems {
    width: 50%;
    height: 100%;
}

/* The logo */

.logLogo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.innerSeeLog {
    width: 70px;
    height: 70px;
}


.innerSeeLog img {
    width: 100%;
    height: 100%;
}
/* The log heading */

.logHeadSee {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logHeadSee h2 {
    font-size: 27px;
    font-weight: 700;
    color: #292929;
}


/* The auth section */

.seeAuthLog {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.innerLogSeeAuth {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid #cbcbcb;
}

.seeAuthLog a {
    text-decoration: none;
}

#logUser {
    display: none;
}


/* The actual login links */

.authSeeLink {
    width: 340px;
    height: 60px;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    color: #292929;
    border: 2px solid #292929;
    transition: 0.1s ease-in-out;
}

.authSeeLink:hover {
    transform: scale(1.2);
    border: 2px solid #333682;
    color: #333682;
}


.linkImg {
    width: 55px;
    height: 55px;
}

.linkImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* The mage */

.divLogImg {
    width: 50%;
    height: 100%;
    position: relative;
}

.divLogImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logCovImg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* The notification section */

.notiication {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 20;
    background-color: #c9cbff;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* The handshake section white */

.handshakes {
    width: 700px;
    height: 800px;
    border-radius: 20px;
    background-color: white;
}

/* The two divs */

.receivedHands {
    min-width: 100%;
    height: 100%;
}


/* The section containing the x and heading */

.notHead {
    width: 100%;
    height: max-content;
}

.topXNot {
    width: 100%;
    height: 80px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topXNot h2 {
    font-size: 25px;
    font-weight: 600;
    color: #333682;
}

/* The x */

.hideX {
    fill: #333682;
    transform: scale(1.5);
    cursor: pointer;
}


/* The small navigation section */

.changeHeadNav {
    width: 100%;
    height: max-content;
    border-bottom: 2px solid #c9cbff;
    background-color: white;
    display: flex;
}

.changeHeadNav a {
    text-decoration: none;
}

/* Received section */

.goReceived {
    width: max-content;
    min-width: 200px;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.1s ease-in-out;
}

.goReceived:hover {
    border-bottom: 2px solid #333682;
}

.goReceived:hover > span {
    color: #333682;
}

.goReceived:hover > .recNumber {
    background-color: #333682;
}


.slideNotAct {
    border-bottom: 2px solid #333682;
}

.slideNotAct > .recNumber {
    background-color: #333682;
}


.goReceived span {
    font-size: 20px;
    font-weight: 600;
    color: #939393;
    margin: 20px;
}

.slideNotAct > span {
    color: #333682;
}

.recNumber {
    width: max-content;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #939393;
    color: white;
}

.recNumber span {
    color: white;
}

/* The section containing the notifications */

.notPlace {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

/* The 2 sections */


.notRec,.notSent {
    min-width: 100%;
    height: 100%;
}


/* The individual notification */

.recNotOne {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* The inner section */

.innerRecPlace {
    width: 94%;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.innerRecPlace:hover {
    background-color: #ececec;
}


/* The profile pic */

.imgNot {
    width: 80px;
    height: 80px;
}

.imgNot img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}


/* Name and time */

.recNameTime {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.recNameTime h4 {
    color: #333682;
    font-weight: 600;
    font-size: 20px;
}

.recNameTime span {
    color: #808080;
    font-size: 15px;
}


/* The control section */

.recControls {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recDec {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #cbcbcb;
    transition: 0.2s ease-in;
}

.recDec svg {
    transform: scale(1.4);
}

.recDec:nth-child(1):hover {
    transform: scale(1.1);
    background-color: #338238;
    fill: #cbcbcb;
}

.recDec:nth-child(2):hover {
    transform: scale(1.1);
    background-color: #982d2d;
    fill: #cbcbcb;
}

.recDec:nth-child(3):hover {
    transform: scale(1.1);
    background-color: #333682;
    fill: #cbcbcb;
}

.recAccAct {
    transform: scale(1.1);
    background-color: #338238;
    fill: #cbcbcb;
    pointer-events: none;
}

.recDecAct {
    transform: scale(1.1);
    background-color: #982d2d;
    fill: #cbcbcb;
    pointer-events: none;
}

.reId,#acceptClick {
    display: none;
}

/* sent  */

/* sattus */

.sendStatusS {
    width: max-content;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #cbcbcb;
    font-size: 20px;
    font-weight: 600;
    color: #333682;
}