*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*

body {
    background-color: #c9cbff;
}

/* Navigation styling */

.navigation {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    position: fixed;
    z-index: 10;
}

.navig {
    width: 98%;
    height: 170px;
    background-color:white ;
    border-radius: 100px;
    border: 2px solid #333682;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s ease-in-out;
}

.upNav {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* The icon Section */


.icon {
    width: 270px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
}

.icon img {
    width: 80px;
    height: 80px;
}

.icon h2 {
    color: #333682;
    font-size: 30px;
    font-weight: 800;
}


/* The little navigation */

.littleNav {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 40px;
}

.user,.logout {
    width: 50px;
    height: 50px;
    background-color: #c9cbff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bell svg,.user svg,.logout svg {
    width: 30px;
    height: 30px;
    fill: #292929;
}

.bell {
    width: 50px;
    height: 50px;
    background-color: #c9cbff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bellNo {
    min-width: 20px;
    width: max-content;
    height: 20px;
    background-color: #333682;
    border-radius: 5px;
    font-size: 11px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -5px;
}

.bellNo span{
    padding: 5px;
}


/* The middle navigation */

.midNav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* The lower anvigation */

.lowerNav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The drop down button */

.dropMenu {
    width: 80px;
    height: 45px;
    background-color: #c9cbff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.dropMenu svg {
    width: 35px;
    height: 35px;
    fill: #292929;
    transition: 0.5s ease-in-out;
}


/* The navigation */

.newQuiz,.ansQuiz,.unanswQuiz,.findQuiz,.askQuiz,.myQuiz,.myAnswers,.messages,.handShake {
    width: 70px;
    height: 70px;
    background-color: #c9cbff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newQuiz svg,.ansQuiz svg,.unanswQuiz svg,.findQuiz svg,.askQuiz svg,.myQuiz svg,.myAnswers svg,.messages svg,.handShake svg {
    transform: scale(1.4);
    fill: #292929;
}


/* To notify number of items */

.newQuiz,.handShake,.messages {
    position: relative;
}

.meNot {
    min-width: 20px;
    width: max-content;
    height: 20px;
    background-color: #333682;
    border-radius: 5px;
    font-size: 11px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -5px;
}

.meNot span {
    padding: 5px;
}


/* Authentification part */

.auth {
    width: 100%;
    height: 100vh;
    background-color: rgba(201,203,255, 0.8);
    position: fixed;
    top: 0;
    z-index: 10;
}

.closeAuth {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.exx {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 5px solid #333682;
    cursor: pointer;
    transform: scale(0.4);
    margin-right: 20px;
    transition: 0.1s ease-in;
}

.exx svg {
    transform: scale(0.7);
    fill: #333682;
}

.exx:hover {
    transform: scale(0.5);
}

/* The big div auth */

.theAuth {
    width: 100%;
    height: max-content;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* The line separating login and signin */

.sepLogSig {
    width: 3px;
    height: 50px;
    background-color: #333682;
}


/* Below are the slide sections */

.mainAuth {
    width: 500px;
    height: max-content;
    background-color: white;
    border: 2px solid #333682;
    border-radius: 60px;
    display: flex;
    overflow: hidden;
}

/* Login slide */

.showLog,.showSign {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.showLog h2,.showSign h2 {
    color: #292929;
    font-size: 24px;
    font-weight: 700;
    margin: 30px;
}


/* The github and linkedin authentication */

.authLinks {

    width: 400px;
    height: 150px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.github,.linkedin {
    width: 400px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #292929;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
}

.github:hover,.linkedin:hover {
    transform: scale(1.1);
    border: 2px solid #333682;
    color: #333682;
}

.authImg {
    width: 50px;
    height: 50px;
    margin: 10px;
}



.authImg img {
    width: 100%;
    height: 100%;
}

.github span,.linkedin span {
    font-size: 18px;
    font-weight: 500;
    margin: 30px;
}


/* The links to shift to auth */ 

.shiftAuth {
    margin: 40px;
    font-size: 17px;
    text-decoration: none;
    color: #333682;
    transition: 0.1 ease-in;
}

.shiftAuth:hover {
    transform: scale(1.1);
}