*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #c9cbff;
}

/* The body */
.body_pay {
    width: 100%;
    min-height: 100vh;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    background-color: #c9cbff;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* The logo */

.log {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log_img {
    width: 80px;
    height: 80px;
}

.log_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* heading */

.pay {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333682;
}

/* The div containing the buttons */

.prem_place {
    border: 2px solid #333682;
    border-radius: 20px;
    width: 600px;
    min-height: 400px;
    height: max-content;
    background-color: white;
    padding: 20px;
}

/* The user section */

.user {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.user_img {
    width: 150px;
    height: 150px;

}

.user_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.username span{
    color: #333682;
    font-size: 22px;
    font-weight: 600;
}


/* the payment choice */

.choice {
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* The actual choice */

.ch1,.chHead {
    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #292929;
    font-size: 18px;
    font-weight: 500;
}

.chHead {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #333682;
}


/* The check */

.chCheck {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    fill: #292929;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.chCheck:hover {
    transform: scale(1.2);
    border: 2px solid #333682;
    fill: #333682;
}

.chCheck svg {
    transform: scale(0.7);
}