*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #c9cbff;
}

/* The biggest div */

.profile {
    width: 100%;
    height: max-content;
}


/* This div contains profile images */

.profImg {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* The image div */

.infoImg {
    position: relative;
    width: 98%;
    height: 95%;
}

.infoImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* change pen */

.change {
    position: absolute;
    bottom: 80px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: #c9cbff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #333682;
    transition: 0.1s ease-in;
}

.change svg {
    transform: scale(1.4);
}

.change:hover {
    transform: scale(1.2);
    background-color: #333682;
    fill: #c9cbff;
}


/* Profile picture section */

.profePic {
    position: absolute;
    bottom: -50px;
    width: 100%;
    min-height: 20px;
    
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The image */
.thePicPr {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9cbff;
}

.thePicPr img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 100%;
}

.changePr {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    background-color: #c9cbff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #333682;
    transition: 0.1s ease-in;
}

.changePr svg {
    transform: scale(1.4);
}

.changePr:hover {
    transform: scale(1.2);
    background-color: #333682;
    fill: #c9cbff;
}

/* Account info */

.accInfo {
    margin-top: -5px;
    width: 100%;
    padding-bottom: 20px;
    height: max-content;
    display: flex;
    justify-content: center;
}


/* The info secttion */

.myInfoP {
    width: 98%;
    padding-top: 40px;
    height: max-content;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}


/* The 2 sections */

.infoSmall {
    width: 600px;
    height: 600px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


/* The small section */

.username {
    position: relative;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #c9cbff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.username input {
    padding: 10px;
    width: 380px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    outline: none;
    border: none;
    font-size: 19px;
    font-size: 600;
    color: #333682;
}


.userIc {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid #c9cbff;
}

.userIc svg {
    transform: scale(1.3);
    fill: #333682;
}


/* User Edit enable */

.userEdit {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: white;
    fill: #333682;
    transition: 0.1s ease-in;

}

.userEdit svg {
    cursor: pointer;
    transform: scale(1.4);
}

.userEdit:hover {
    transform: scale(1.2);
    background-color: #333682;
    fill: #c9cbff;
}

.activeFName {
    transform: scale(1.2);
    background-color: #333682;
    fill: #c9cbff;
}


.infoSmall:nth-child(2) textarea {
    width: 500px;
    max-width: 500px;
    min-width: 450px;
    height: 300px;
    min-height: 250px;
    max-height: 400px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 19px;
    font-size: 600;
    color: #333682;
    background-color: white;
}       


.infoSmall:nth-child(2) .userIc svg {
    transform: scale(0.8);
}


/* The choose tags section */

.tags {
    width: 100%;
    height: max-content;
    min-height: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


.smallTgs {
    width: 98%;
    height: max-content;
    min-height: 300px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The search section */

.theSearch {
    margin: 40px;
    width: max-content;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #c9cbff;
    border-radius: 10px;
}

/* The search icon */

.searchIc {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9cbff;
    border-radius: 10px;
    margin: 5px;
    fill: #333682;
}


.theSearch input {
    width: 300px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    outline: #333682;
    border: none;
    background-color: #c9cbff;
    border-radius: 10px;
    font-size: 17px;
    color: #333682;
}


/* all the tags */

.allTags {
    width: 98%;
    height: max-content;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #c9cbff;
    border-radius: 20px;
    cursor: pointer;
}


/* the individual tag */

.meTag {
    width: max-content;
    min-width: 50px;
    height: 60px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #c9cbff;
}

.tagImg {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.tagImg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.meTag span {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    color: #292929;
}

/* Tag active */

.tAct {
    background-color: #333682;
}

.tAct span {
    color: #c9cbff;
}


/* disable all tags */

.check {
    display: none;
}

/* This is the tag status */

.myTagState {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myTagState svg {
    transform: scale(1.6);
}

.addedT {
    fill: #3ea42d;
}

.removedT {
    fill: #d93636;
}


/* To none the image inputs */

#updateInfoPic,#updateProPic {
    display: none;
}


/* The message pop up */

.message {
    margin-top: 20px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#innerMess {
    width: 98%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prSuccess {
    background-color: #3ea42d;
}

.prFailed {
    background-color: #d93636;
}

#innerMess span {
    font-size: 18px;
    font-weight: 600;
    color: rgb(233, 233, 233);
}


/* The controls section */

.contProf {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contInner {
    width: 98%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
}

/* The buttons */

.submit {
    cursor: pointer;
    width: 240px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: #c9cbff;
    color: #292929;
    transition: 0.2s ease-in-out;
}

.submit:nth-child(1):hover {
    background-color: #d93636;
    transform: scale(1.1);
    color: rgb(233, 233, 233);
}

.submit:nth-child(2):hover {
    background-color: #3ea42d;
    transform: scale(1.1);
    color: rgb(233, 233, 233);
}


/* The profile heading */

.profNav {
    width: 100%;
    height: 70px;
}

.pNavMain {
    width: max-content;
    height: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.pnInd {
    width: 55px;
    height: 55px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    fill: #292929;
    cursor: pointer;
}

.recordP {
    border-radius: 10px;
    width: 250px;
    height: 55px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    color: #292929;
    font-size: 18px;
    font-weight: 600;
    fill: #292929;
    cursor: pointer;
}